<!DOCTYPE html>
<html lang="en" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lê cookies</title>
</head>
<body>
    <p>O valor do cookie "user-id" é: <span th:text="${userid}"\></p>
    <p>A data e hora do cookie é: <span th:text="${datacookie}"\></p>
    <p>A data e hora atual é: <span th:text="${dataatual}"\></p>
    <p>Tempo entre geração do cookie e a leitura é: <span th:text="${tempo}"\></p>
</body>
</html>